.redtext {
	color: red;
}

.card-img-left {
	width: 45%;
	height: 600px;
	/* Link to your background image using in the property below! */
	background: scroll center
		url("https://images.unsplash.com/photo-1547860664-b8537ca5f833?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
	background-size: cover;
}
